# ==================================================
# Python
# ==================================================

__pycache__/
*.py[cod]
*$py.class

# ==================================================
# Virtual Environment
# ==================================================

venv/
.venv/

# ==================================================
# Environment Variables
# ==================================================

.env

# ==================================================
# IDE
# ==================================================

.vscode/
.idea/

# ==================================================
# Operating System
# ==================================================

Thumbs.db
.DS_Store

# ==================================================
# Logs
# ==================================================

*.log

# ==================================================
# Test Cache
# ==================================================

.pytest_cache/

# ==================================================
# Coverage
# ==================================================

.coverage
htmlcov/

# ==================================================
# Build
# ==================================================

build/
dist/
*.egg-info/

__pycache__/
*.py[cod]